.EndOfSeason {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 13px 0px;
  }
  
  .EndOfSeasonInner {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 62px; */

  }
  .EndOfSeasonBanner {
    width: 100%;
    /* height: 463px; */
    background: #eee;
    background-image: url(https://ik.imagekit.io/ofb/themes/AdobeStock_232118132_T5Nn1COeD.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665052322394) !important;
    /* height: 460px; */
    /* height: 510px; */
    background-size: contain;
  }

@media screen and (max-width: 430px) {
  .EndOfSeasonBannerBtn{
    margin-top: 26% !important;
  }
}
  

@media screen and (min-width: 431px) {
  .EndOfSeasonBanner {
    height: 510px;
  }

  .EndOfSeasonBannerBtn{
    margin-top: 32% !important;
  }
}
@media screen and (min-width: 1401px) {
  .EndOfSeasonBanner {
    height: 559px;
  }
}

  .EndOfSeasonBanner h1 {
    text-align: left;
    font-size: 40px;
    line-height: 62px;
    letter-spacing: 0px;
    color: #212B36;
    opacity: 1;
  }
  .EndOfSeasonBanner h6 {
    text-align: left;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #212B36;
    opacity: 1;
  }
  .EndOfSeasonBanner button {
    text-align: center;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #212B36;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 1px #00000029;
    /* border-radius: 40px; */
    opacity: 1;
    width: 150px;
    height: 45px;
    margin-top: 2%;
    margin-left: 2%;
    background: black(0.5);
    background: gray;
    color: #fff;
  }
