.wrapper[open] {
  display: block;
}
.wrapper {
  display: none;
}

.wrapper > div {
  position: absolute;
  right: -768px !important;
  transition: 2s;
}

.wrapper[open] > div {
  position: absolute !important;
  right: 0px !important;
  transition: 2s !important;
}
