.categoryList {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 40px 0px;
  }
  
  .categoryListInner {
    width: 100%;
    margin: 0 auto;
  }
  
  .fond {
    display: flex;
    /* display: flex; */
    justify-content: center;
  }
  
  .carreaux_presentation_light {
    display: table-cell;
    width: 670px;
      height: 350px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
  }
  
  .carreaux_presentation_light .shadow_swhow_mini {
    background-color: rgba(19, 30, 33, 0.4);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
  }
  
  .carreaux_presentation_light:hover .shadow_swhow_mini {
    background-color: rgba(16, 23, 41, 0);
  }
  
  /* .carreaux_presentation_light .deroul_titre {
    
    padding: 7px;
    z-index: 1000;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    transition: all 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 266px;
    font-weight: 400;
    flex-direction: column;
    line-height: 35px;
  
  } */
  .carreaux_presentation_light .deroul_titre {
    padding: 7px;
    z-index: 1000;
    /* text-align: center; */
    letter-spacing: 0px;
    opacity: 1;
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    transition: all 0.7s;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 266px;
    font-weight: 400;
    flex-direction: column;
    /* line-height: 35px; */
    /* top: 42%; */
}

  .carreaux_presentation_light .deroul_titre span{
    font-size: 14px;
  }
  
  .carreaux_presentation_light:hover .deroul_titre {
    
  
  }
  
  .carreaux_presentation_light .deroul_soustitre {
    position: absolute;
    padding: 5px;
    z-index: 1000;
    top: 48%;
    right: -85%;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    transition: all 0.7s;
    text-align: center;
    
  }
  .carreaux_presentation_light .deroul_soustitre span{
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #212B36;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 1px #00000029;
    border-radius: 40px;
    opacity: 1;
    width: 150px;
    height: 45px;
    padding: 10px 40px;
  }
  
  .carreaux_presentation_light:hover .deroul_soustitre {
    right: 0px;
  }

  .deroul_titre{
    margin-top: 256px;
    /* margin-bottom: auto; */
    margin-left: 30px;
  }

  .ListOfBest{
    margin-top: 62px;
  }

  @media screen and (max-width: 431px){
    .fond {
      display: flex;
      flex-direction: column;
    }

    .carreaux_presentation_light{
      margin-bottom: 20px;
    }
  }